<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
<meta name='description' content='WebRTC Reference App' />
<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
<base target='_blank'>
<script src="/static/js/Chart.min.js"></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src="/static/js/Chart.min.js"></script>

<title>PlayWithRTC</title>
<link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    
    <div class="modal" id="nameEntryModal" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" id="modal-header-id">
            <h4 class="modal-title">Let's play Tic-Tac-Toe</h4>
          </div>
          <div class="modal-body" id="modal-body-id">
            <p>Play TicTacToe in real time</p>
            <p>Enter your username</p>
            <input id="username" type="text" placeholder="your name" value=""/>
          </div>
          <div class="modal-footer" id="modal-footer-id">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="endModal" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">          
          <div class="modal-body" id="endModal-body-id">
            <p>Room is Full</p>
          </div> 
          <div class="modal-footer" id="endModal-footer-id">
          </div>         
        </div>
      </div>
    </div>

    <div class="modal fade" id="resultModal" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">          
          <div class="modal-body" id="resultModal-body-id" width="300" height="300">
            <script src="/static/js/Chart.min.js"></script>
            <div id="canvas-holder">
              <canvas id="chart-area"/>
            </div>
          </div>          
        </div>
      </div>
    </div> 


  <div id='container'>
    
    <nav class="navbar navbar-default" role="navigation" class="col-xs-12">
      <div id="dashboard">
        <div id="dashuser" class="col-xs-4">dashusername</div>
        <div id="dashroom" class="col-xs-4">dashroomname</div>
        <div id="dashmessage" class="col-xs-4">dashmessage</div>
      </div>
    </nav>

  <div id="maingame" class="col-xs-12">
    <div id="game" class="col-xs-6">
        <div class="row" id="row1" rowvalue="1">
          <div class="column spot1" data-value="7"></div>
          <div class="column spot2" data-value="8"></div>
          <div class="column spot3" data-value="9"></div>
        </div>
        <div class="row" id="row2" rowvalue="2">
          <div class="column spot1" data-value="4"></div>
          <div class="column spot2" data-value="5"></div>
          <div class="column spot3" data-value="6"></div>
        </div>
        <div class="row" id="row3" rowvalue="3">
          <div class="column spot1" data-value="1"></div>
          <div class="column spot2" data-value="2"></div>
          <div class="column spot3" data-value="3"></div>
        </div>
    </div>

    <div id="RTC" class="col-xs-6">     
      <div id='videos'>
        <video id='localVideo' autoplay muted></video>
        <video id='remoteVideo' autoplay></video>
      </div>
    	<textarea id="dataChannelSend" placeholder="enter some text, then press Send."></textarea>
    	<textarea id="dataChannelReceive" disabled></textarea>
      <div id="buttons">
        <button id="startButton" class="btn btn-default">Start</button>
        <button id="sendButton" class="btn btn-default">Send</button>
        <button id="closeButton" class="btn btn-default">Stop</button>
      </div>
    </div>
</div>

</div>

  <script src='/static/js/main.js'></script>
  <script>
   var player_name; //global js variable
   var two_players;

    $(document).ready( function() {
       $('#nameEntryModal').modal('show');     
    });

    $('#username').keypress(function(e) {
      if(e.which == '13') {
        player_name = $('#username').val();
        console.log('username is', player_name);
        askforplayers(player_name);
        $('dashuser').html(player_name);
        $('dashroom').html(room);
      }
    });

    function askforplayers(player_name) {
      $('#modal-header-id').html("Please select the number of players");
      $('#modal-body-id').html('<button type="button" class="btn btn-default" name="two_players" id="playerOne" value="false">One Player</button><p></p><button type="button" class="btn btn-default" name="two_players" id="playerTwo" value="true">Two Players</button>');
       
      $('#playerOne').click( function() {
        console.log("One player selected");
        two_players = false;
        create_socket(two_players, player_name);
        game_socket_events();
        $('#nameEntryModal').modal('hide');
      });

      $('#playerTwo').click( function() {
        console.log("Two players selected");
        two_players = true;
        create_socket(two_players, player_name);
        game_socket_events();
        $('#nameEntryModal').modal('hide');
      });
      
    };

  </script>
 
  <script src='/static/js/lib/adapter.js'></script>
  <script src='/static/js/game.js'></script>

</body>
</html>
